@model Hra.App.Controllers.ProcesoController.ProcesoMiembro
<div id="pnlParticipante" class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">@ViewBag.NombreCompleto</h4>
            <form method="post" asp-action="GuardarMensaje">
                <div class="row">
                    <input type="hidden" name="MiembroId" value="@ViewBag.MiembroId" />
                    <div class="col-auto">
                        <select class="form-select" name="NivelId" asp-items="@ViewBag.cboNivel">
                        </select>
                    </div>
                    <div class="col">
                        <div class="position-relative">
                            <input type="text" name="Nota" class="form-control rounded chat-input" placeholder="Registro de Notas y Llamadas...">

                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Registrar</span> <i class="mdi mdi-send"></i></button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-bordered  mt-3">
                <thead class="table-light">
                    <tr>
                        <th>Fecha</th>
                        <th>Nivel</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Mensajes)
                    {
                        <tr>
                            <td style="width:200px">
                                @item.Fecha
                            </td>
                            <td style="width:200px">
                                @item.Nivel
                            </td>
                            <td>
                                @item.Nota
                            </td>
                            <td style="width:100px">
                                <a href="@Url.Action("EliminarMensaje","Proceso", new{pMensajeId=item.MensajeId})" class="text-danger p-1">
                                    <i class="bx bxs-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <form method="post" asp-action="GuardarArchivo" enctype="multipart/form-data">
                <div class="row">
                    <input type="hidden" name="MiembroId" value="@ViewBag.MiembroId" />
                    <div class="col-auto">
                        <select class="form-select" name="EvidenciaId" asp-items="@ViewBag.cboEvidencia">
                        </select>
                    </div>
                    <div class="col">
                        <div class="position-relative">
                            <input type="file" name="file" class="form-control rounded chat-input" placeholder="Registra un Archivo...">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Registrar</span> <i class="mdi mdi-send"></i></button>
                    </div>
                </div>
            </form>

            <table class="table table-hover table-bordered  mt-3">
                <thead class="table-light">
                    <tr>
                        <th>Fecha</th>
                        <th>Evidencia</th>
                        <th>Archivo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Archivos)
                    {
                        <tr>
                            <td style="width:200px">
                                @item.Fecha
                            </td>
                            <td style="width:200px">
                                @item.Evidencia
                            </td>
                            <td>
                                <a href="~/storage/@item.Archivo" target="_blank">@item.Archivo</a>                                
                            </td>
                            <td style="width:100px">
                                <a href="@Url.Action("EliminarArchivo","Proceso", new{pArchivoId=item.ArchivoId})"  class="text-danger p-1">
                                    <i class="bx bxs-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }   
                </tbody>
            </table>
        </div>
    </div>
</div>
